{{- if or .Values.dynamicConfig.enabled (and .Values.webConfig.enabled .Values.webConfig.basicAuth.enabled .Values.webConfig.basicAuth.initFromSecret.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sql-exporter.fullname" . }}-init-script
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
data:
  init.sh: |
{{ .Files.Get "scripts/init.sh" | indent 4 }}
{{- end }}

