apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sql-exporter.fullname" . }}
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sql-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:        
        checksum/config: {{ include (print $.Template.BasePath "/secret.configuration.yaml") . | sha256sum }}
        checksum/collectors: {{ include (print $.Template.BasePath "/configmap.collectors.yaml") . | sha256sum }}
      labels:
        {{- include "sql-exporter.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: sql-exporter
          secret:
            secretName: {{ include "sql-exporter.fullname" . }}
        {{- if .Values.collectorFiles }}
        - name: sql-collector
          configMap:
            name: {{ include "sql-exporter.fullname" . }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["-config.file=/etc/sql_exporter/sql_exporter.yml"]
          volumeMounts:
          - name: sql-exporter
            readOnly: true
            mountPath: /etc/sql_exporter/
          {{- if .Values.collectorFiles }}
          - name: sql-collector
            readOnly: true
            mountPath: /etc/sql_exporter/collectors/
          {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9399
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9399
          ports:
            - name: http
              containerPort: 9399
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
