{{- if (.Values.ingress).enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "sql-exporter.fullname" . }}
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
    {{- with .Values.ingress.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if (.Values.ingress.tls).enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host | required "Ingress host is required if tls is enabled!" }}
      secretName: {{ include "sql-exporter.tls.name" . }}
  {{- end }}
  rules:
  - http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ include "sql-exporter.fullname" . }}
              port:
                number: {{ .Values.service.port }}
    {{- if .Values.ingress.host }}
    host: {{ .Values.ingress.host }}
    {{- end }}
{{- end -}}
