# ---------------------------------------------------------------------
# -- This secret holds all sql_exporter configuration files
# ---------------------------------------------------------------------
{{- if or .Values.createConfig .Values.dynamicConfig.enabled .Values.webConfig.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sql-exporter.fullname" . }}
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- if .Values.createConfig }}
  sql_exporter.yml: |-
    {{- include "sql_exporter.config.yaml" . | nindent 4 }}
{{- end }}
{{- if .Values.webConfig.enabled }}
{{- if .Values.webConfig.basicAuth.initFromSecret.enabled }}
  username: {{ .Values.webConfig.basicAuth.username | quote }}
{{- else }}
  web-config.yml: |-
    {{- include "sql-exporter.webconfig.yaml" . | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
