# ---------------------------------------------------------------------
# -- This secret holds the web-config file for sql_exporter
# ---------------------------------------------------------------------
{{- if .Values.webConfig.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sql-exporter.fullname" . }}-web-config
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.webConfig.fileName }}: |-
    {{- include "sql-exporter.webconfig.yaml" . | nindent 4 }}
{{- end }}

