# ---------------------------------------------------------------------
# -- This secret holds the config file of sql_exporter
# ---------------------------------------------------------------------
{{- if and (((.Values.ingress).tls).enabled) (not ((.Values.ingress).tls).secretName) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sql-exporter.tls.name" . }}
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
type: Opaque
data:
  tls.crt: {{ (tpl (.Values.ingress.tls.crt | required "crt is required if you want to create tls secret.") .) | required "crt is required if you want to create tls secret." | b64enc | quote }}
  tls.key: {{ (tpl (.Values.ingress.tls.key | required "private key is required if you want to create tls secret.") .) | required "private key is required if you want to create tls secret." | b64enc | quote }}
{{- end }}
