# ---------------------------------------------------------------------
# -- This secret holds the config file of sql_exporter and/or username
# ---------------------------------------------------------------------
{{- if or .Values.createConfig (and .Values.webConfig.enabled .Values.webConfig.basicAuth.enabled .Values.webConfig.basicAuth.initFromSecret.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sql-exporter.fullname" . }}
  labels:
    {{- include "sql-exporter.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- if .Values.createConfig }}
  sql_exporter.yml: |-
    {{- include "sql_exporter.config.yaml" . | nindent 4 }}
{{- end }}
{{- if and .Values.webConfig.enabled .Values.webConfig.basicAuth.enabled .Values.webConfig.basicAuth.initFromSecret.enabled }}
  username: {{ .Values.webConfig.basicAuth.username | quote }}
{{- end }}
{{- end }}
